* {
    text-align: center;
}
#titleCard {
  width: 500px;
  height: 150px;
  background-color: rgb(234, 239, 239);
  margin: 45px 450px 10px 450px;
  
  
}

#content {
    width: 100%;
    background-color: brown;
}
